extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      .content= question.content
      .content= "장소        | " + question.location
      .content= "시작날짜    | " + question.start
      .content= "시작시간    | " + question.starttime
      .content= "종료날짜    | " + question.end
      .content= "종료시간    | " + question.endtime
      .content= "이벤트종류  |" + question.event_type
      .content= "이벤트주제  |" + question.event_topic
      .content= "이벤트가격  |" + question.price
      include _question

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        if question.author && currentUser && question.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/questions/${question.id}?_method=delete`) Delete
      
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    form(action=`/questions/${question.id}/answers`, method='POST')
      .form-group
        label(for='answer') Your Answer
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Answer

